#preview {
  width: 90%;
  border: 1px solid black;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 20px;
}

#preview * {
  max-width: 100%;
}

#preview img {
  max-width: 50%;
  margin: auto;
  display: block;
}